{% if total > 3 %}
    <div class="section center-align">
        <ul class="pagination">
            <li class="{% if current == 0 %}disabled{% else %}waves-effect{% endif %}">
                <a href="{{ doc_root }}{{ path }}?offset={{ (current - 1) * 3 }}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            {% for i in range(0, (total/3)|round(0, "ceil") - 1) %}
                {% if current == i %}
                <li class="active"><a>{{ i + 1 }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ doc_root }}{{ path }}?offset={{ i * 3 }}">{{ i + 1 }}</a></li>
                {% endif %}
            {% endfor %}
            <li class='{% if current == (total/3)|round(0, "ceil") - 1 %}disabled{% else %}waves-effect{% endif %}'>
                <a href="{{ doc_root }}{{ path }}?offset={{ (current + 1) * 3 }}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
{% endif %}