{% extends 'layout.html' %}

{% block title %}
Survey App - Conduct
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="center-align">{{ message }}</h2>
    </div>
    <div class="row">
        {% if type == 1 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/checked.png">
        {% elseif type == 2 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/schedule.png">
        {% elseif type == 3 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/email.png">
        {% elseif type == 4 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/thank-you.png">
        {% elseif type == 5 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/time.png">
        {% elseif type == 6 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/login.png">
        {% elseif type == 7 %}
        <img class="responsive-img logo" src="{{ doc_root }}img/wrong-password.png">
        {% else %}
        <img class="responsive-img logo" src="{{ doc_root }}img/archive.png">
        {% endif %}
    </div>
</div>
{% endblock %}