{% extends 'layout.html' %}

{% block title %}
Survey App - Conduct
{% endblock %}

{% block menu %}
{{ include('conduct/menu.html') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h2 class="center-align">Conduct Survey</h2>
            {% if start_error is defined %}
            <p class="center-align"><span class="helper-text red-text">{{ start_error }}</span></p>
            {% endif %}
            {% if close_success is defined %}
            <p class="center-align"><span class="helper-text green-text">{{ close_success }}</span></p>
            {% endif %}
        </div>
    </div>
    {% if error is defined %}
    <div class="section">
        <div class="row">
            <h4 class="center-align red-text">
                {{ error.message }}
            </h4>
        </div>
    </div>
    {% else %}
    <div class="section">
        <div class="row">
            {% if surveys|length > 0 %}
                {% for survey in surveys %}
                <div class="col s12 m8 offset-m2 l8 offset-l2">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ survey.title }}</span>
                        </div>
                        {% if coordinator == 1 %}
                        <div class="card-action right-align">
                            {% if survey.start_date == null %}
                            <a href="{{ doc_root }}conduct/start/{{ survey.id }}">Start</a>
                            {% else %}
                            <span>
                                {% if date() > date(survey.start_date) %}Started{% endif %}
                                {% if date() < date(survey.start_date) %}Will start{% endif %} 
                                on {{ survey.start_date|format_datetime(pattern="MMM dd y, hh:mm a") }}
                                - {% if date() < date(survey.end_date) %}Will end{% endif %}
                                {% if date() > date(survey.end_date) %}Ended{% endif %}
                                on {{ survey.end_date|format_datetime(pattern="MMM dd y, hh:mm a") }}
                            </span>
                                {% if date() > date(survey.start_date) and date() < date(survey.end_date) %}
                                <br />
                                <a href="{{ doc_root }}conduct/close/{{ survey.id }}">Close</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="card-action right-align">
                            <a href="{{ doc_root }}conduct/participate/{{ survey.id }}" target="_blank">Participate</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h4 class="center-align">
                No Surveys to Show
            </h4>
            {% endif %}
        </div>
    </div>
    {{ include('helpers/pagination.html') }}
    {% endif %}
</div>
{% endblock %}