{% extends 'layout.html' %}

{% block title %}
Survey App - Conduct
{% endblock %}

{% block menu %}
{{ include('conduct/menu.html') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h2 class="center-align">Conduct Survey</h2>
        </div>
    </div>
    <div class="section">
        <div class="row">
            {% for survey in surveys %}
            <div class="col s8 offset-s2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ survey.title }}</span>
                    </div>
                    {% if coordinator == 1 %}
                    <div class="card-action right-align">
                        {% if survey.start_date == null %}
                        <a href="{{ doc_root }}conduct/start.php?survey_id={{ survey.id }}">Start</a>
                        {% else %}
                        <span>
                            {% if date() > date(survey.start_date) %}Started{% endif %}
                            {% if date() < date(survey.start_date) %}Will start{% endif %} 
                            on {{ survey.start_date|format_datetime(pattern="MMM dd y, hh:mm a") }}
                            - {% if date() < date(survey.end_date) %}Will end{% endif %}
                            {% if date() > date(survey.end_date) %}Ended{% endif %}
                            on {{ survey.end_date|format_datetime(pattern="MMM dd y, hh:mm a") }}
                        </span>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="card-action right-align">
                        <a href="{{ doc_root }}conduct/participate.php?id={{ survey.id }}" target="_blank">Participate</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {{ include('helpers/pagination.html') }}
</div>
{% endblock %}