{% extends 'layout.html' %}

{% block title %}
Survey App - Conduct
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h2 class="center-align">{{ survey.title }}<br/><span class="helper-text center" id="helper-top"></span></h2>
        </div>
    </div>
    <div class="section hide">
        <div class="row">
            <h3 class="center-align red-text">
                No surveys available
            </h3>
        </div>
    </div>
    <div class="section">
        <form action="{{ doc_root }}conduct/participate.php?id={{ survey.id }}" method="POST">
            {% for question in questions %}
            <ol class="collection" start="1">
                <li class="collection-item">{{ question.question.content }}<br /><span class="helper-text"></span></li>
                {% for answer in question.answers %}
                <p>
                    <label>
                        <input name="{{ answer.question_id }}" type="radio" value="{{ answer.id }}"/>
                        <span>{{ answer.content }}</span>
                    </label>
                </p>
                {% endfor %}
            </ol>
            {% endfor %}
            <div class="row">
                <div class="col s6 left"><button class="btn waves-effect waves-light left orange accent-4">cancel</button></div>
                <div class="col s6"><button class="btn right waves-effect waves-light left orange accent-4" id="submit" type="submit">submit</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ doc_root }}js/participate.js"></script>
{% endblock %}