{% extends 'layout.html' %}

{% block title %}
Survey App - Conduct
{% endblock %}

{% block menu %}
{{ include('conduct/menu.html') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="center-align">Conduct Survey</h2>
    </div>
    <div class="row">
        <h3 class="center-align">{{ title }}</h3>
    </div>
    <div class="row">
        <form action="" method="POST">
            <div class="row">
                <table class="centered col s12 m8 offset-l2 l6 offset-l3">
                    <tr>
                        <td>Start date</td>
                        <td>{{ start_date|format_datetime(pattern="MMM dd y, hh:mm a") }}</td>
                    </tr>
                    <tr>
                        <td>End date</td>
                        <td>{{ end_date|format_datetime(pattern="MMM dd y, hh:mm a") }}</td>
                    </tr>
                    <tr>
                        <td>Submissions</td>
                        <td>{{ submissions }}</td>
                    </tr>
                    <tr>
                        <td>Link</td>
                        <td><a href="{{ doc_root }}conduct/participate/{{ id }}">{{ doc_root }}conduct/participate/{{ id }}</a></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col s12 m8 offset-l2">
                    <a class="btn waves-effect waves-light right orange accent-4" style="width:100%" name="start" id="close" href="{{ doc_root }}conduct/close/{{ survey_id }}">close</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}