<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        <title>View Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo right">Logo</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a>View</a></li>
                        <li><a>Define</a></li>
                        <li class="active"><a>Conduct</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h2 class="center-align">Conduct Survey</h2>
                </div>
                <div class="row">
                    <h3 class="center-align">Survey Title</h3>
                </div>
                <div class="row">
                    <form action="" method="POST">
                        <div class="input-field col s3 offset-s3">
                            <input type="text" class="datepicker" placeholder="start date" name="start_date">
                        </div>
                        <div class="input-field col s3">
                            <input type="text" class="timepicker" placeholder="start time" name="start_time">
                        </div>
                        <div class="col switch offset-s3 s9">
                            <label>
                                Off
                                <input type="checkbox" name="start_immediately">
                                <span class="lever"></span>
                                On
                            </label>
                            <br />
                            <label>Start immediately</label>
                        </div>
                        <div class="input-field col s3 offset-s3">
                            <input type="text" class="datepicker" placeholder="end date" name="end_date">
                        </div>
                        <div class="input-field col s3">
                            <input type="text" class="timepicker" placeholder="end time" name="end_time">
                        </div>
                        <div class="col offset-s3 s3">
                            <a class="btn waves-effect waves-light left">Back</a>
                        </div>
                        <div class="col s3">
                            <button class="btn waves-effect waves-light right" name="start" id="start">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container center-align">© 2023 Survey App</div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function() {
                $('select').formSelect();
                var date = new Date;
                var time = date.getTime();
                var datepicker_elems = document.querySelectorAll('.datepicker');
                var datepicker_instances = M.Datepicker.init(datepicker_elems, { defaultDate: date, setDefaultDate: true, minDate: date });
                var start_datepicker = M.Datepicker.getInstance(datepicker_elems.item(0));
                var end_datepicker = M.Datepicker.getInstance(datepicker_elems.item(1));

                var time_elems = document.querySelectorAll('.timepicker');
                var time_instances = M.Timepicker.init(time_elems, { twelveHour: false, fromNow: 600000 });
                var start_timepicker = M.Timepicker.getInstance(time_elems.item(0));
                var end_timepicker = M.Timepicker.getInstance(time_elems.item(1));

                $('input[type="checkbox"]').on('change', function(e) {
                    var checked = e.target.checked;
                    if(checked) {
                        $('.datepicker').first().hide();
                        $('.timepicker').first().hide();
                    } else {
                        $('.datepicker').first().show();
                        $('.timepicker').first().show();
                    };
                });

                $('#start').first().on('click', function(e) {
                    e.preventDefault();

                    var valid = true;

                    var start_immediately = $('input[type="checkbox"]')[0].checked;

                    if((start_timepicker.time == undefined) && !start_immediately) {
                        valid = false;
                        console.log('you must select a start time');
                    } else {
                        if(!start_immediately) {
                            var start_date = new Date(start_datepicker.date);
                            var start_time = start_timepicker.time.split(':');
                            start_date.setHours(start_time[0]);
                            start_date.setMinutes(start_time[1]);
                            if(new Date() > start_date) {
                                valid = false;
                                console.log('start time and date must be in the future');
                            }
                        }
                    }

                    if(end_timepicker.time == undefined) {
                        valid = false;
                        console.log('you must select an end time');
                    } else {
                        var end_date = new Date(end_datepicker.date);
                        var end_time = end_timepicker.time.split(':');
                        end_date.setHours(end_time[0]);
                        end_date.setMinutes(end_time[1]);
                        if(new Date() > end_date) {
                            valid = false;
                            console.log('end time and date must be in the future');
                        } else {
                            if(!start_immediately && start_date > end_date) {
                                valid = false;
                                console.log('end time and date must be later than the start date and time');
                            }
                        }
                    }

                    if(valid) {
                        $('form').submit();
                    }
                });
            })
        </script>
    </body>
</html>