<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        <title>Survey App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo center">Logo</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="section">
                    <div class="row">
                        <h2 class="center-align">Survey App</h2>
                    </div>
                </div>
                <div class="section">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input type="email" name="email" class="validate">
                                <label for="email">Email</label>
                                <span class="helper-text hide"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input type="text" name="first_name" class="validate">
                                <label for="first_name">First name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input type="text" name="last_name" class="validate">
                                <label for="last_name">Last name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input type="password" name="password" class="validate">
                                <label for="password">Password</label>
                                <span class="helper-text hide"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input type="password" name="confirm" class="validate">
                                <label for="password">Confirm password</label>
                                <span class="helper-text hide"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3 left offset-s3"><a href="" class="btn">Cancel</a></div>
                            <div class="col s3"><button class="btn right" id="submit">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container center-align">© 2023 Survey App</div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#submit').on('click', function(e) {
                    var valid = true;
                    e.preventDefault();
                    var helper_texts = document.getElementsByClassName('helper-text');
                    var email_regex = /^[a-zA-Z0-9._]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                    var email = document.forms.item(0).email;
                    var password = document.forms.item(0).password;
                    var password_regex = /^[a-zA-Z0-9!#$%&_^]{8,12}$/;
                    var confirm = document.forms.item(0).confirm;

                    if(email.value == '' || !email_regex.test(email.value)) {
                        error_message_adder(0, email, helper_texts, 'Please provide a well formatted email');
                        valid = false;
                    } else {
                        class_toggler(0, email, helper_texts);
                    }

                    if(password.value.length == 0) {
                        console.log('leng');
                        error_message_adder(1, password, helper_texts, 'Please provide a password');
                        valid = false;
                    } else if (!password_regex.test(password.value)) {
                        console.log('test');
                        error_message_adder(1, password, helper_texts, 'Password must have between 8 and 12 characters');
                        valid = false;
                    } else {
                        class_toggler(1, password, helper_texts);
                    }

                    if(confirm.value != password.value) {
                        error_message_adder(2, confirm, helper_texts, 'Password and confirmation password must match, please check');
                        valid = false;
                    } else {
                        class_toggler(2, confirm, helper_texts);
                    }

                    if(valid) {
                        $('form').submit();
                    }


                });

                function error_message_adder(item, element, helper_texts, message) {
                    helper_texts.item(item).setAttribute('data-error', message);
                    helper_texts.item(item).classList.toggle('hide');
                    if(helper_texts.item(item).classList.contains('hide')) {
                        helper_texts.item(item).classList.toggle('hide');
                    }
                    if(!element.classList.contains('invalid')) {
                        element.classList.toggle('invalid');
                    }
                }

                function class_toggler(item, element, helper_texts) {
                    if(!helper_texts.item(item).classList.contains('hide')) {
                        helper_texts.item(item).classList.toggle('hide');
                    }
                    if(element.classList.contains('invalid')) {
                        element.classList.toggle('invalid');
                    }
                }
            })
        </script>
    </body>
</html>