<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        <title>View Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo right">Logo</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a>View</a></li>
                        <li><a>Define</a></li>
                        <li class="active"><a>Conduct</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h2 class="center-align">Conduct Survey</h2>
                </div>
                <div class="row">
                    <form action="" method="POST">
                        <div class="input-field col s4 offset-s4">
                            <input type="text" class="datepicker" placeholder="start date" name="start_date">
                            <input type="text" class="timepicker" placeholder="start time" name="start_time">
                        </div>
                        <div class="col offset-s4 s4">
                            
                        </div>
                        <div class="col offset-s4 s4">
                            <button class="btn waves-effect waves-light right" type="submit" name="start">Start</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container center-align">© 2023 Survey App</div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function() {
                $('select').formSelect();
                var datepicker_elems = document.querySelectorAll('.datepicker');
                var datepicker_instances = M.Datepicker.init(datepicker_elems, { format: 'yyyy-mm-dd' });
                var start_datepicker = M.Datepicker.getInstance(datepicker_elems.item(0));
                var time_elems = document.querySelectorAll('.timepicker');
                var time_instances = M.Timepicker.init(time_elems, { twelveHour: false });
                var start_time = M.Timepicker.getInstance(time_elems.item(0));

                $('form').first().on('submit', function(e) {
                    e.preventDefault();
                    console.log(start_datepicker.toString());
                    console.log(start_time.time);
                });
            })
        </script>
    </body>
</html>