<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        <title>View Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo right">Logo</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li class="active"><a>View</a></li>
                        <li><a>Define</a></li>
                        <li><a>Conduct</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h2 class="center-align">View Results</h2>
                </div>
                <div class="row">
                    <form action="" method="POST">
                        <div class="input-field col s4 offset-s4">
                            <select>
                                <option value="" disabled selected>Select Survey</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <span class="helper-text red-text hide">No Surveys Available</span>
                        </div>
                        <div class="col s4 offset-s4">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Get Results</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Answers</th>
                                <th>Selected</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">Question 1...<a href="#modal1" id="0" class="chart">SEE CHART</a></td>
                                <td>Answer 1</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>Answer 2</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Answer 3</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Answer 4</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td rowspan="4">Question 2...<a href="#modal1" id="1" class="chart">SEE CHART</a></td>
                                <td>Answer 1</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>Answer 2</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Answer 3</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Answer 4</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td rowspan="4">Question 3...<a href="#modal1" id="2" class="chart">SEE CHART</a></td>
                                <td>Answer 1</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>Answer 2</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Answer 3</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Answer 4</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td rowspan="4">Question 4...<a href="#modal1" id="3" class="chart">SEE CHART</a></td>
                                <td>Answer 1</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>Answer 2</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Answer 3</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Answer 4</td>
                                <td>17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="preloader-wrapper big active" style="display: block;margin: 0px auto 0px auto;">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                    </div>
                    <div id="piechart" style="width: 400px; height: 200px;margin: 0px auto 0px auto;" class="hide"></div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container center-align">© 2023 Survey App</div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var answers = [
                    [ 
                        { answer: 'answer 1', selected: 21 },
                        { answer: 'answer 2', selected: 18 },
                        { answer: 'answer 3', selected: 12 },
                        { answer: 'answer 4', selected: 7 },
                        { answer: 'answer 5', selected: 25 }
                    ],
                    [ 
                        { answer: 'answer 1', selected: 5 },
                        { answer: 'answer 2', selected: 8 },
                        { answer: 'answer 3', selected: 12 },
                        { answer: 'answer 4', selected: 17 },
                        { answer: 'answer 5', selected: 11 }
                    ],
                    [ 
                        { answer: 'answer 1', selected: 27 },
                        { answer: 'answer 2', selected: 15 },
                        { answer: 'answer 3', selected: 11 },
                        { answer: 'answer 4', selected: 19 },
                        { answer: 'answer 5', selected: 8 }
                    ],
                    [ 
                        { answer: 'answer 1', selected: 7 },
                        { answer: 'answer 2', selected: 22 },
                        { answer: 'answer 3', selected: 18 },
                        { answer: 'answer 4', selected: 15 },
                        { answer: 'answer 5', selected: 9 }
                    ]
                ]
                $('select').formSelect();

                $('.modal').modal({ 'onCloseStart': closeModal , 'dismissible': false });

                $('.chart').on('click', function(e) {
                    console.log(e.target.id);

                    var index = e.target.id;

                    $('.modal').modal('open');
                    
                    setTimeout(function() {
                        $('.preloader-wrapper').addClass('hide');
                        drawChart(answers[index]);
                        $('#piechart').removeClass('hide');
                    }, 1500);
                });

                $('.modal-close').on('click', function() {
                    $('.modal').modal('close');
                })

                function closeModal() {
                    $('.preloader-wrapper').removeClass('hide');
                    $('#piechart').addClass('hide');
                }

                /* Google charts */

                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart(input = []) {
                    var input_array = [['Answers', 'Selected']];

                    input.forEach((answer) => {
                        input_array.push([answer.answer, answer.selected])
                    });

                    var data = google.visualization.arrayToDataTable(input_array);
        
                    var options = {
                        title: 'Question results'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                    chart.draw(data, options);
                };
            });
        </script>
    </body>
</html>