<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
        </style>
        <title>View Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo right">Logo</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li class="active"><a>View</a></li>
                        <li><a>Define</a></li>
                        <li><a>Conduct</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="section">
                    <div class="row">
                        <h2 class="center-align">View Results</h2>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <table class="centered">
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>chart</th>
                                    <th>Answers</th>
                                    <th>Selected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">Question 1...</td>
                                    <td rowspan="4"><div id="piechart_1" style="width: 200px; height: 200px;"></div></td>
                                    <td>Answer 1</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Answer 2</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>Answer 3</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Answer 4</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Question 2...</td>
                                    <td rowspan="4"><div id="piechart_2" style="width: 200px; height: 200px;"></div></td>
                                    <td>Answer 1</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Answer 2</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>Answer 3</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Answer 4</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Question 3...</td>
                                    <td rowspan="4"><div id="piechart_3" style="width: 200px; height: 200px;"></div></td>
                                    <td>Answer 1</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Answer 2</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>Answer 3</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Answer 4</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Question 4...</td>
                                    <td rowspan="4"><div id="piechart_4" style="width: 200px; height: 200px;"></div></td>
                                    <td>Answer 1</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Answer 2</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>Answer 3</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Answer 4</td>
                                    <td>17</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <a class="btn waves-effect waves-light right">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container center-align">© 2023 Survey App</div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {

                /* Google charts */

                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var header = ['Answers', 'Selected'];

                    var answers = [
                        [ 
                            { answer: 'a', selected: 21 },
                            { answer: 'b', selected: 18 },
                            { answer: 'c', selected: 12 },
                            { answer: 'd', selected: 7 }
                        ],
                        [ 
                            { answer: 'a', selected: 5 },
                            { answer: 'b', selected: 8 },
                            { answer: 'c', selected: 12 },
                            { answer: 'd', selected: 17 }
                        ],
                        [ 
                            { answer: 'a', selected: 27 },
                            { answer: 'b', selected: 15 },
                            { answer: 'c', selected: 11 },
                            { answer: 'd', selected: 19 }
                        ],
                        [ 
                            { answer: 'a', selected: 7 },
                            { answer: 'b', selected: 22 },
                            { answer: 'c', selected: 18 },
                            { answer: 'd', selected: 15 }
                        ]
                    ];

                    var data_1 = google.visualization.arrayToDataTable(createArray(header, answers[0]));
                    var data_2 = google.visualization.arrayToDataTable(createArray(header, answers[1]));
                    var data_3 = google.visualization.arrayToDataTable(createArray(header, answers[2]));
                    var data_4 = google.visualization.arrayToDataTable(createArray(header, answers[3]));
        
                    var options = {
                        chartArea: {left:0,top:0,width:'100%',height:'100%'},
                        width: 400
                    };

                    var chart_1 = new google.visualization.PieChart(document.getElementById('piechart_1'));
                    var chart_2 = new google.visualization.PieChart(document.getElementById('piechart_2'));
                    var chart_3 = new google.visualization.PieChart(document.getElementById('piechart_3'));
                    var chart_4 = new google.visualization.PieChart(document.getElementById('piechart_4'));

                    chart_1.draw(data_1, options);
                    chart_2.draw(data_2, options);
                    chart_3.draw(data_3, options);
                    chart_4.draw(data_4, options);
                };

                function createArray(header, input) {
                    var response = [];
                    response.push(header);
                    input.forEach((answer) => {
                        response.push([answer.answer, answer.selected])
                    });

                    return response;
                }
            });
        </script>
    </body>
</html>