{% extends 'layout.html' %}

{% block title %}
Survey App - Define
{% endblock %}

{% block menu %}
<div class="nav-wrapper deep-purple darken-4">
    <a class="brand-logo right">SURVEY APP</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{ doc_root }}view.php">View</a></li>
        <li class="active"><a href="{{ doc_root }}define.php">Define</a></li>
        <li><a href="{{ doc_root }}conduct.php">Conduct</a></li>
        <li><a href="{{ doc_root }}logout.php">Sign out</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="center-align">Define Survey</h2>
    </div>
    <div class="row">
        <div>
            <p class="center-align flow-text">Define one from scratch...</p>
        </div>
        <div class="col s4 offset-s4">
            <a class="waves-effect waves-light btn orange accent-4" style="width: 100%;" href="define_add_questions.php">Create</a>
        </div>
    </div>
    <div class="row">
        <div>
            <p class="center-align flow-text">...or edit/copy a previous one</p>
        </div>
        <form action="" method="POST">
            <div class="input-field col s4 offset-s4">
                {% if surveys_amount > 0 %}
                <select>
                    <option value="" disabled selected>Select Survey</option>
                    {% for survey in surveys %}
                    <option value="{{ survey.id }}">{{ survey.title }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <select disabled>
                    <option value="" disabled selected>Select Survey</option>
                </select>
                <span class="helper-text red-text">No Surveys Available</span>
                {% endif %}
            </div>
            <div class="col offset-s4 s2">
                <button class="btn waves-effect waves-light left {{ surveys_amount == 0 ? 'disabled' : '' }} orange accent-4">Copy</button>
            </div>
            <div class="col s2">
                <button class="btn waves-effect waves-light right {{ surveys_amount == 0 ? 'disabled' : '' }} orange accent-4" type="submit">Edit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('select').formSelect();
    })
</script>
{% endblock %}