{% extends 'layout.html' %}

{% block title %}Survey App - Profile{% endblock %}

{% block menu %}
{{ include('user/menu.html') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h2 class="center-align">Profile</h2>
        </div>
    </div>
    <div class="section">
        <form action="{{ doc_root }}user/edit" method="POST">
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <input type="email" name="email" class="validate" value="{{ email }}" disabled>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <input type="text" name="first_name" class="validate{% if error is defined %} invalid{% endif %}" value="{{ first_name }}" disabled>
                    <label for="first_name">First name</label>
                    <span class="helper-text red-text {% if error is not defined %}hide{% endif %}">{{ error.first_name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <input type="text" name="last_name" class="validate{% if error is defined %} invalid{% endif %}" value="{{ last_name }}" disabled>
                    <label for="last_name">Last name</label>
                    <span class="helper-text red-text {% if error is not defined %}hide{% endif %}">{{ error.last_name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <button class="btn hide waves-effect waves-light orange accent-4" id="save" type="submit" style="width: 100%; margin: 0px 0px 10px 0px;">Save</button>
                    <button class="btn waves-effect waves-light orange accent-4" id="edit" style="width: 100%; margin: 0px 0px 10px 0px;">Edit</button>
                </div>
                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <a href="{{ doc_root }}user/forgot_password/{{ email }}" class="btn waves-effect waves-light indigo lighten-2" style="width: 100%; margin: 0px 0px 10px 0px;">Reset Password</a>
                </div>
                {% if confirmed == 0 %}
                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <a href="{{ doc_root }}user/resend_confirmation/{{ id }}" class="btn waves-effect waves-light deep-purple lighten-5 black-text" style="width: 100%;">Resend Confirmation Email</a>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ doc_root }}js/profile.js"></script>
{% endblock %}