{% extends 'layout.html' %}

{% block title %}Survey App - Reset Password{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h2 class="center-align">Register to our App</h2>
            <p class="red-text center-align">{{ error.header }}</p>
        </div>
    </div>
    <div class="section">
        <form action="{{ doc_root }}user/reset_password" method="POST">
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <input type="password" name="password" class="validate {{ error.password ? 'invalid' : '' }}">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="{{ error.password }}"></span>
                </div>
            </div>
            <div class="hide">
                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <input type="password" name="confirm" class="validate {{ error.confirm ? 'invalid' : '' }}">
                    <label for="password">Confirm password</label>
                    <span class="helper-text" data-error="{{ error.confirm }}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <button class="btn waves-effect waves-light orange accent-4" id="submit" style="width: 100%">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ doc_root }}js/reset_password.js"></script>
{% endblock %}