<div class="nav-wrapper deep-purple darken-4">
    <a class="brand-logo right" href="{{doc_root}}home.php">SURVEY APP</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{ doc_root }}view/view.php">View</a></li>
        {% if coordinator == 1 %}<li class="active"><a href="{{ doc_root }}define/define.php">Define</a></li>{% endif %}
        <li><a href="{{ doc_root }}conduct/list.php">Conduct</a></li>
        <li><a href="{{ doc_root }}user/logout.php">Sign out</a></li>
    </ul>
</div>